header {
    text-align: center;
}

body {
    background-color: #d2691e;
}

h1, h2 {
    letter-spacing: 10px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

a:link, a:visited, input#submitButton {
    background-color: #ffe506;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    color: #000000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 2px;
}

a:hover, a:active, input#submitButton:hover {
    background-color: #A6FF4D;
    color: #000000;
}

input#submitButton:active {
    position: relative;
    top: 2px;
}

input#submitButton:disabled {
    color: #4b4b4b;
    background-color: #d2691e;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.contact {
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    justify-content: center;
    display: flex;
}

input[type="text"], textarea {
    background-color: #ffe506;
    border: 1px dashed #d2691e;
    border-radius: 2px;
}

::-webkit-input-placeholder {
    color: #4b4b4b;
    letter-spacing: 2px;
}

.contact_name {
    padding-bottom: 10px;
}

.contact_email {
    padding-bottom: 10px;
}

.contact_btn {
    padding-top: 10px;
    float: right;
}

label {
    display: block;
    padding-bottom: 10px;
}

textarea#message {
    resize: none;
}

span#span_contact_name, span#span_contact_email, span#span_contact_msg {
    font-size: x-small;
    color: #000000;
    display: block;
    padding-top: 5px;
}

.content, .subpage_content {
    font-family: "Lato", sans-serif;
    justify-content: center;
    display: flex;
    max-width: 700px;
    margin: auto;
}

img#profile_pic {
    width: 25%;
    height: 25%;
    float: right;
    margin: 0 0 1em 1em;
    border-radius: 5px;
}

.profile_introduction, .subpage_description {
    display: block;
    background-color: #ffe506;
    border-radius: 5px;
    border: 1px dashed #d2691e;
    letter-spacing: 2px;
}